body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.nav {
	background-color: #ff3030;
	color: #ffffff;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
}
.nav > li {
	display: inline-block;
	padding: 0 25px 0 25px;
}
.nav > li > a {
	text-decoration: none;
	color: #ffd700;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font-size: 20px;
}
.nav > li > a:hover {
	color: #clclcl;
}
